
--- create a data base 
USE [banking ] -- use your own data base
GO
/****** Object:  Table [dbo].[Banker_Data]    Script Date: 13-05-2024 11:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banker_Data](
	[banker_id] [nvarchar](50) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[gender] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[dob] [date] NULL,
	[date_joined] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Data]    Script Date: 13-05-2024 11:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Data](
	[customer_id] [smallint] NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[gender] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
	[dob] [date] NULL,
	[customer_since] [date] NOT NULL,
	[nationality] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Home_Loan_Data]    Script Date: 13-05-2024 11:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Home_Loan_Data](
	[loan_id] [nvarchar](50) NOT NULL,
	[property_type] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[property_value] [int] NOT NULL,
	[loan_percent] [tinyint] NOT NULL,
	[loan_term] [tinyint] NOT NULL,
	[postal_code] [int] NOT NULL,
	[joint_loan] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loan_Records_Data]    Script Date: 13-05-2024 11:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loan_Records_Data](
	[record_id] [smallint] NOT NULL,
	[customer_id] [smallint] NOT NULL,
	[loan_id] [nvarchar](50) NOT NULL,
	[banker_id] [nvarchar](50) NOT NULL,
	[transaction_date] [date] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Banker_Data] ([banker_id], [first_name], [last_name], [gender], [phone], [dob], [date_joined]) VALUES (N'10-7988777', N'Meghann', N'Randalston', N'Female', N'730-112-2493', CAST(N'1974-03-12' AS Date), CAST(N'2013-09-07' AS Date))
INSERT [dbo].[Banker_Data] ([banker_id], [first_name], [last_name], [gender], [phone], [dob], [date_joined]) VALUES (N'59-0965845', N'Brana', N'Donnersberg', N'Female', N'173-848-1619', CAST(N'1983-09-12' AS Date), CAST(N'2013-01-01' AS Date))
INSERT [dbo].[Banker_Data] ([banker_id], [first_name], [last_name], [gender], [phone], [dob], [date_joined]) VALUES (N'03-5801967', N'Tobit', N'Foord', N'Male', N'468-490-0832', CAST(N'1993-08-17' AS Date), CAST(N'2016-10-25' AS Date))
GO
INSERT [dbo].[Customer_Data] ([customer_id], [first_name], [last_name], [email], [gender], [phone], [dob], [customer_since], [nationality]) VALUES (1, N'Steward', N'Guttridge', N'sguttridge0@google.co.jp', N'Male', N'796-279-5612', CAST(N'1964-08-13' AS Date), CAST(N'2017-01-30' AS Date), N'Italy')
INSERT [dbo].[Customer_Data] ([customer_id], [first_name], [last_name], [email], [gender], [phone], [dob], [customer_since], [nationality]) VALUES (2, N'Alexio', N'Harbertson', N'aharbertson1@google.it', N'Male', N'300-895-7952', CAST(N'1970-08-09' AS Date), CAST(N'2014-01-05' AS Date), N'Brazil')
INSERT [dbo].[Customer_Data] ([customer_id], [first_name], [last_name], [email], [gender], [phone], [dob], [customer_since], [nationality]) VALUES (3, N'Pierson', N'Jellico', N'pjellico2@is.gd', N'Male', N'703-471-5128', CAST(N'1950-05-11' AS Date), CAST(N'2017-06-21' AS Date), N'Philippines')
GO
INSERT [dbo].[Home_Loan_Data] ([loan_id], [property_type], [country], [city], [property_value], [loan_percent], [loan_term], [postal_code], [joint_loan]) VALUES (N'f6d13d77-b063-42d9-8028-70e312ef1502', N'Condominium', N'United States', N'San Francisco', 2254108, 70, 7, 94110, 0)
INSERT [dbo].[Home_Loan_Data] ([loan_id], [property_type], [country], [city], [property_value], [loan_percent], [loan_term], [postal_code], [joint_loan]) VALUES (N'a83f6173-ccba-4973-af87-6da83edb962c', N'Detached', N'United States', N'Sparks', 2568697, 65, 9, 89436, 0)
INSERT [dbo].[Home_Loan_Data] ([loan_id], [property_type], [country], [city], [property_value], [loan_percent], [loan_term], [postal_code], [joint_loan]) VALUES (N'b825220f-42c9-4f3b-952c-3a8eee122912', N'Detached', N'United States', N'Dallas', 678659, 80, 23, 75260, 0)
GO
INSERT [dbo].[Loan_Records_Data] ([record_id], [customer_id], [loan_id], [banker_id], [transaction_date]) VALUES (1, 1, N'f6d13d77-b063-42d9-8028-70e312ef1502', N'91-6838638', CAST(N'2022-08-29' AS Date))
INSERT [dbo].[Loan_Records_Data] ([record_id], [customer_id], [loan_id], [banker_id], [transaction_date]) VALUES (2, 2, N'a83f6173-ccba-4973-af87-6da83edb962c', N'44-8539248', CAST(N'2022-08-21' AS Date))
INSERT [dbo].[Loan_Records_Data] ([record_id], [customer_id], [loan_id], [banker_id], [transaction_date]) VALUES (3, 3, N'b825220f-42c9-4f3b-952c-3a8eee122912', N'98-2590988', CAST(N'2022-08-10' AS Date))
GO
